<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Chat</title>
</head>
<body>
    <h3>Edit your Chat: <%= chat._id %></h3>
    <p>This chat was sent from: <b><%= chat.form %></b> to <b> <%= chat.to%></b></p>
    <form action="/chats/<%= chat._id %>?_method=PUT" method="POST">
        <textarea name="msg" id="" cols="30" rows="10"><%= chat.msg %></textarea><br>
        <button>Edit</button>
    </form>
</body>
</html>